*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(0,212,255,1) 31%, rgba(2,130,255,1) 100%, rgba(0,211,252,1) 100%);
    color: #fff;
    gap: 12px;
    transition: all 0.2s ease;
}


.memes{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    transition: all 0.2s ease;
}
.memes img{
    width: 200px;
}
.container{
    border: 0.5px solid #fff;
    border-radius: 10px ;
    margin: 20px;
    padding: 28px 32px;
    display: flex;
    flex-direction: column;
    background: transparent;
    transition: all 0.2s ease;
   
}

.container h1{
    font-size: 1.4rem;
    margin-block: 8px;
    
}
.inputBox{
    position: relative;
}
.inputBox span{
    position: absolute;
    top: 16px;
    right: 6px;
    color: #000;
    font-size: 28px;
    cursor: pointer;
}

.passBox{
    background-color: #fff;
    border: none;
    outline: none;
    padding: 10px;
    width: 300px;
    border-radius: 4px;
    font-size: 20px;
    margin-block: 8px;
}

.row{
    display: flex;
    margin-block: 8px;
    user-select: none;
}
.row p, .row label{
    flex-basis: 100%;
    font-size: 18px;
}

.row input[type = "checkbox"]{
    width: 20px;
    height: 20px;
    
}

.genBtn{
    border: none;
    outline: none;
    background-color: #0066ff;
    padding: 12px 24px;
    color: #fff;
    font-size: 18px;
    margin-block: 8px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 4px;
}

.genBtn:hover{
    background-color: #2c619e;
}

@media (width < 1000px) {
    
    body{
        flex-direction: column;
        transition: all 0.2s ease;
    }

    .container{
        margin-inline: 30px;
        padding: 10px;
        transition: all 0.5s ease;
        
    }
    .memes{
        margin-top: 10px;
        transition: all 0.5s ease;
    }
    .memes img{
        width: 150px;
        transition: all 0.4s ease;

    }
}

a{
    color: rgb(0, 0, 0);
}